<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Order \##{@order.id}" %></h1>
</div>

<dif class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-sm-6 col-md-5'>
      <h3> Order details </h3>
        <dl class="dl-horizontal">
          <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
          <dd><%= @order.name %></dd>
          <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
          <dd><%= @order.country %></dd>
          <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
          <dd><%= @order.state %></dd>
          <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
          <dd><%= @order.city %></dd>
          <dt><strong><%= model_class.human_attribute_name(:address_line_1) %>:</strong></dt>
          <dd><%= @order.address_line_1 %></dd>
          <dt><strong><%= model_class.human_attribute_name(:address_line_2) %>:</strong></dt>
          <dd><%= @order.address_line_2 %></dd>
          <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
          <dd><%= @order.postal_code %></dd>
          <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
          <dd><%= @order.phone %></dd>
          <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
          <dd><%= @order.email %></dd>
        </dl>
    </div>
    <div class = 'col-sm-12 col-lg-6'>
      <h3> Items list </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:title) %></th>
            <th><%= model_class.human_attribute_name(:price) %></th>
            <th><%= model_class.human_attribute_name(:count) %></th>
            <th><%= model_class.human_attribute_name(:total) %></th>
          </tr>
        </thead>
        <tbody>
          <% @order.cart_items.each do |cart_item| %>
            <% product = cart_item.product %>
            <tr>
              <td><%= link_to product.title, view_product_path(product) %></td>
              <td><%= currency product.price %></td>
              <td><%= cart_item.count %></td>
              <td><%= currency cart_item.total %></td>
            </tr>
          <% end %>
          <tr class = 'info' >
            <td>All</td>
            <td></td>
            <td><%= @order.count %></td>
            <td><%= currency @order.total %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-xs-12'>
      <% unless @order.paid? %>
        <h3> Order is unpaid yet </h3>
      <% else %>
        <h3> Payment details </h3>
        <dl class="dl-horizontal">
          <dt><strong>Purchased at:</strong></dt>
          <dd><%= @order.purchased_at %></dd>
          <dt><strong>Payment type:</strong></dt>
          <dd><%= @order.payment_type %></dd>
          <dt><strong>Total:</strong></dt>
          <dd><%= currency @order.total %></dd>
          <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
          <dd><%= @order.ip %></dd>
          <dt><strong>Link to payment:</strong></dt>
          <dd><%= "Link should go here" %></dd>
        </dl>
      <% end %>
    </div>
  </div>
</dif>

<%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_path(@order), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_path(@order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>