<h1>Payment attempts via credit cards</h1>
<div class="well">
</div>
<% if !flash[:notice].blank? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<table class="table table-bordered table-striped">
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Last 4</th>
    <th>Amount</th>
    <th>Succeeded?</th>
    <th>Authorization Code</th>
  </tr>
  <% if @card_payments.size > 0 %>
    <% @card_payments.each do |payment| %>
      <tr>
        <td><%= link_to payment.id, card_payment_path(payment) %></td>
        <td><%= payment.first_name %></td>
        <td><%= payment.last_name %></td>
        <td><%= payment.last4 %></td>
        <td><%= currency payment.amount %></td>
        <td><%= payment.success == true ? "Yes" : "No" %></td>
        <td><%= payment.authorization_code %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="6">No payments have been attempted.</td>
    </tr>
  <% end %>
</table>