<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Order \##{@order.id}" %></h1>
</div>

<dif class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-sm-6 col-md-5'>
      <h3> Shipping details </h3>
      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @order.name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
        <dd><%= @order.country %></dd>
        <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
        <dd><%= @order.state %></dd>
        <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
        <dd><%= @order.city %></dd>
        <dt><strong><%= model_class.human_attribute_name(:address_line_1) %>:</strong></dt>
        <dd><%= @order.address_line_1 %></dd>
        <% unless @order.address_line_2.empty? %>
          <dt><strong><%= model_class.human_attribute_name(:address_line_2) %>:</strong></dt>
          <dd><%= @order.address_line_2.class %></dd>
        <% end %>
        <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
        <dd><%= @order.postal_code %></dd>
        <% unless @order.phone.empty? %>
          <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
          <dd><%= @order.phone %></dd>
        <% end %>
        <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
        <dd><%= @order.email %></dd>
      </dl>
    </div>
    <div class = 'col-sm-12 col-lg-6'>
      <h3> Item list </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:title) %></th>
            <th><%= model_class.human_attribute_name(:price) %></th>
            <th><%= model_class.human_attribute_name(:count) %></th>
            <th><%= model_class.human_attribute_name(:total) %></th>
          </tr>
        </thead>
        <tbody>
          <% @order.cart_items.each do |cart_item| %>
            <% product = cart_item.product %>
            <tr>
              <td><%= link_to product.title, store_path(product_id: product.id) %></td>
              <td><%= currency product.price %></td>
              <td><%= cart_item.count %></td>
              <td><%= currency cart_item.total %></td>
            </tr>
          <% end %>
          <tr class = 'info' >
            <td>All</td>
            <td></td>
            <td><%= @order.count %></td>
            <td><%= currency @order.total %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-xs-12'>
      <% unless @order.paid? %>
        <div class='btn-group'>
          <%= link_to new_card_payment_path, class: 'btn btn-warning btn-order' do %>
            Credit card
          <% end %>
          <%= link_to paypal_payments_checkout_path, class: 'btn btn-warning btn-order' do %>
            Paypal
          <% end %>
          <%= link_to new_card_payment_path, class: 'btn btn-warning btn-order' do %>
            Google wallet
          <% end %>
          <%= link_to   order_path(@order),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => 'Are you sure?') },
                        :class => 'btn btn-danger btn-order' do %>
            <i class="fa fa-trash-o"></i>
            <%= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>
        </div>
      <% else %>
        <h3> Payment details </h3>
        <dl class="dl-horizontal">
          <dt><strong>Purchased at:</strong></dt>
          <dd><%= @order.purchased_at %></dd>
          <dt><strong>Payment type:</strong></dt>
          <dd><%= @order.payment_type %></dd>
          <dt><strong>Total:</strong></dt>
          <dd><%= currency @order.total %></dd>
        </dl>
      <% end %>
    </div>
  </div>
</dif>