<%- model_class = Product -%>
<div class="page-header">
  <h1><%= @product.title %></h1>
</div>

<% if @product.pictures.any? %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <% (1...@product.pictures.size).each do |i| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= i %>"></li>
      <% end %>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag @product.pictures.first.image.url(:medium), alt: 'Product image', class: 'img-responsive' %>
      </div>
      <% @product.pictures[1..-1].each do |picture| %>
        <div class="item">
          <%= image_tag picture.image.url(:medium), alt: 'Product image', class: 'img-responsive' %>
        </div>
      <% end %>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="fa fa-chevron-right"></span>
    </a>
  </div> <!-- Carousel -->
<% end %>

<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='col-xs-12'>
      <h3> Product description </h3>
      <div>
        <%= raw(@product.description) %>
      </div>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='col-xs-12 col-sm-6 col-md-3'>
      <%= link_to add_product_path(@product), method: :post , class: 'btn btn-warning btn-cart' do %>
        <i class="fa fa-shopping-cart"></i> Add to cart 
      <% end %>
      <span class="price"><%= currency @product.price %></span>
    </div>
  </div>
</div>